*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}
body{
    background-image:url(../imagenes/paciente5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.box {
    width: 1200px;
    background: rgba(0,0,0,0,.5);
    margin: 0 auto;
    margin-top: 5%;
    padding: 20px;
    color: black;
}
.header {
   text-align: center;
   height: 300px;
   padding: 12px;
   background-image:url(imagenes/Clinica.jpg);
}
.avatar{
   width:  200;
   height: 200;
   border-radius: 50%; 
}
.user-name {
  front-zise: 20px;
  margin-top: 14px;
}
img{
   width : 200px; 
   height : 200px; 
   padding : 10px;
}
.caja_trasera{
    width: 100%;
    padding: 40px 40px;
    display: flex;
    justify-content: center;
    background-color: rgba(0,130,255,.4);
}
